*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kalameh";
    direction: rtl;
    overflow-x: hidden;

}

body{
    background: #212121;
    padding: 0 5%;
}

@font-face {
    font-family: Kalameh;
    src: url(assets/fonts/Kalameh.ttf);
}

@font-face {
    font-family: IranianSans;
    src: url(assets/fonts/Iranian\ Sans.ttf);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    border-radius: 15px;
    padding: 2rem 1rem;
    margin-top: 1.5rem;
}

.logo{
    display: flex;
    align-items: center;
    width: 100%;
}

.logoImg{
    width: 12%;
}

.menu{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.menu-item{
    padding-left: 10px;
    cursor: pointer;
    font-size: large;
}

.btn-menu{
    width: fit-content;
    display: flex;
}

.icon-menu{
    width: 3rem;
    display: flex;
    align-items: center;
    background: #C58D68;
    padding: 8px;
    color: white;
    border-radius: 15px;
    margin-right: 10px;
}

.slider{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 1.5rem  0;
}

.div-small{
    width: 100%;
    height: 100%;
    margin-right: 25px;
}

.sliderImg{
    width: 100%;
    height: 100%;
}

.sliderImgTwo{
    width: 100%;
    margin-top: 20px;
}

.divider{
    display: flex;
    align-items: center;
    justify-content: center;
}

.head{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0rem;
}

.head-title{
    color: #FFF;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    border-radius: 15px;
}

.head-button{
    color: #FFF;
    background-color: #C58D68;
    width: 10rem;
    height: 3rem;
    padding-right: 15px;
    border-radius: 15px;
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.head-button svg{
    width: 20%;
}

.category{
    display: flex;
    margin: 1.5rem 0rem;
}

.categoryCard{
    width: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #C58D68;
    font-size: 1.5rem;
    border-radius: 15px;
}

.categoryCardOne{
    width: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #C58D68;
    font-size: 1.5rem;
    border-radius: 15px;
    margin: 0px 30px;
}

.categoryCardTwo{
    width: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #C58D68;
    font-size: 1.5rem;
    border-radius: 15px;
    margin-left:30px;
}

.products{
    display: flex;
    justify-content: space-between;
}



.cardProducts{
    background-color: #FFF;
    width: 23%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 25px 15px 15px 15px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.backCard{
    width: 25rem;
    height: 20rem;
    background-color: #C58D68;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    margin-top: -25rem;
}
.detail{
    z-index: 1;
}
.productImg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productImg img{
    width: 70%;
}

.titleProduct{
    font-size: larger;
    margin-top: 10px;
}
.descriptionProduct{
    font-size: small;
    color: #545454;
    margin: 10px 0px 20px 0px ;
}
.buttonProduct{
    color: #FFF;
    background-color: #C58D68;
    width: fit-content;
    padding: 5px 4rem;
    border-radius: 15px;
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.buyProduct{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.priceProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.priceOne{
    font-size: small;
    padding-bottom: 5px;
}
.priceTwo{
    color: #C58D68;
    font-weight: bold;
}
/* responsive */

@media (max-width: 1024px) {
    .menu-item{
        padding-left: 10px;
        font-size: 0.9rem;
    }
    .menu{
        flex-wrap: wrap;
    }
    .div-small{
        margin-right: 15px;
    }
    .sliderImgTwo{
        margin-top: 10px;
    }
    .divider img{
        width: 50%;
    }
    .head{
        margin: 1.5rem 0rem;
    }
    .head-title{
        font-size: 1.2rem;
    }
    .head-button{
        font-size: 1.2rem;
    }
    .category{
        margin: 1rem 0rem;
    }
    .categoryCard{
        font-size: 1.3rem;
    }
    .categoryCardOne{
        font-size: 1.3rem;
        margin:0px 20px;
    }
    .categoryCardTwo{
        font-size: 1.3rem;
        margin-left:20px;
    }
}

@media (max-width: 768px) {
    .menu{
        margin-right: 1rem;
        flex-wrap: wrap;
    }
    .menu-item{
        padding-left: 10px;
        font-size: 0.7rem;
    }
    .icon-menu{
        width: 2.5rem;
    }
    .div-small{
        margin-right: 10px;
    }
    .sliderImgTwo{
        margin-top: 5px;
    }
    .divider img{
        width: 50%;
    }
    .head{
        margin: 1rem 0rem;
    }
    .head-title{
        font-size: 1.1rem;
    }
    .head-title img{
        width: 25%;
    }
    .head-button{
        width: 8rem;
        height: 2rem;
        font-size: 1.1rem;
    }
    .head-button svg{
        width:20%;
    }
    .category{
        margin: 1rem 0rem;
    }
    .categoryCard{
        font-size: 1rem;
    }
    .categoryCard img{
        width: 50%;
    }
    .categoryCardOne{
        font-size: 1rem;
        margin:0px 10px;
    }
    .categoryCardOne img{
        width: 50%;
    }
    .categoryCardTwo{
        font-size: 1rem;
        margin-left:10px;
    }
    .categoryCardTwo img{
        width: 50%;
    }
}

@media (max-width: 426px) {
    .icon-menu{
        width: 1.5rem;
        padding: 5px;
        margin-right: 5px;
    }
    .logoImg{
        width: 30%;
    }
    .menu-item{
        font-size: 0.65rem;
        margin-bottom: 5px;
    }
    .menu{
       flex-wrap: wrap;
    }
    .div-small{
        margin-right: 5px;
    }
    .sliderImgTwo{
        margin-top:0px;
    }
    .slider{
        margin: 0.7rem  0;
    }
    .navbar{
        padding: 1rem 1rem;
        margin-top: 0.7rem;
    }
    .head-title{
        font-size: 0.8rem;
    }
    .head-title img{
        width: 20%;
    }
    .head-button{
        width: 5rem;
        height: 1.5rem;
        padding-right: 5px;
        font-size: 0.7rem;
    }
    .head-button svg{
        width:20%;
    }
    .category{
        margin: 0.5rem 0rem;
    }
    .categoryCard{
        font-size: 0.7rem;
    }
    .categoryCard img{
        width: 40%;
    }
    .categoryCardOne{
        font-size: 0.7rem;
    }
    .categoryCardOne img{
        width: 40%;
    }
    .categoryCardTwo{
        font-size: 0.7rem;
    }
    .categoryCardTwo img{
        width: 40%;
    }
}
