*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kalameh";
    direction: rtl;
    overflow-x: hidden;
}
body{
    background: #212121;
    padding: 0 5%;
}
@font-face {
    font-family: Kalameh;
    src: url(assets/fonts/Kalameh.ttf);
}
@font-face {
    font-family: IranianSans;
    src: url(assets/fonts/Iranian\ Sans.ttf);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    border-radius: 15px;
    padding: 2rem 1rem;
    margin-top: 1.5rem;
}
.logo{
    display: flex;
    align-items: center;
    width: 100%;
}
.logoImg{
    width: 12%;
}
.menu{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}
.menu-item{
    padding-left: 10px;
    cursor: pointer;
    font-size: large;
}
.btn-menu{
    width: fit-content;
    display: flex;
}
.icon-menu{
    width: 3rem;
    display: flex;
    align-items: center;
    background: #C58D68;
    padding: 8px;
    color: white;
    border-radius: 15px;
    margin-right: 10px;
}
.slider{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 1.5rem  0;
}
.div-small{
    width: 100%;
    height: 100%;
    margin-right: 25px;
}
.sliderImg{
    width: 100%;
    height: 100%;
}
.sliderImgTwo{
    width: 100%;
    margin-top: 20px;
}
.divider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}
.head{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0rem;
}
.head-title{
    color: #FFF;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    border-radius: 15px;
}
.head-button{
    color: #FFF;
    background-color: #C58D68;
    width: 10rem;
    height: 3rem;
    padding-right: 15px;
    border-radius: 15px;
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.head-button svg{
    width: 20%;
}
.category{
    display: flex;
    margin: 1.5rem 0rem;
}
.categoryCard{
    width: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #C58D68;
    font-size: 1.5rem;
    border-radius: 15px;
}
.categoryCardOne{
    width: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #C58D68;
    font-size: 1.5rem;
    border-radius: 15px;
    margin: 0px 30px;
}
.categoryCardTwo{
    width: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #C58D68;
    font-size: 1.5rem;
    border-radius: 15px;
    margin-left:30px;
}
.products{
    display: flex;
    justify-content: space-between;
}
.cardProducts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 25px 15px 15px 15px;
    border-radius: 15px;
    position: relative;
}
.backCard{
    width: 25rem;
    height: 20rem;
    background-color: #C58D68;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    margin-top: -12rem;
    margin-right: -3rem;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.detail{
    z-index: 1;
    position: relative;
}
.productImg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productImg img{
    width: 70%;
}
.titleProduct{
    font-size: larger;
    margin-top: 10px;
}
.descriptionProduct{
    font-size: small;
    color: #545454;
    margin: 10px 0px 20px 0px ;
}
.buttonProduct{
    color: #FFF;
    background-color: #C58D68;
    width: fit-content;
    padding: 5px 3.5rem;
    border-radius: 15px;
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.buyProduct{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.priceProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.priceOne{
    font-size: small;
    padding-bottom: 5px;
}
.priceTwo{
    color: #C58D68;
    font-weight: bold;
}
.slide-content{
    margin-bottom: 40px;
}
.swiper-pagination-bullet-active {
    background-color: #C58D68 !important;
  }
.swiper-pagination-bullet {
   background-color: #C58D68 !important;
}
.cardsTool {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 16px;
}
.cardTool {
    width: 100%;
    height: 100%;
    background: #FFF;
    border-radius: 15px;
}
.detailTool{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.titleTool{
    color: #C58D68;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.imageTool{
    width: 50%;
    margin-top: 1rem;
}
.backTool{
    z-index: 0;
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: -4rem;
}
.discount{
    background-color: #C58D68;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 15px;
    margin: 30px 0px;
}
.discountLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px -2rem;
}
.discountLogo h2{
    color: white;
    margin-top: 1rem;
}
.discountButton{
    color: #C58D68;
    background-color: #FFF;
    width: 60%;
    padding: 5px 0px;
    padding-right: 15px;
    border-radius: 15px;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 1rem;
}
.discountButton svg{
    width: 20%;
}
.oneLine{
    margin: 2rem 0rem 2rem 0px;
}
.oneProduct{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 25px;
    padding: 2rem 2rem 2rem 1.5rem;
}
.oneCardProducts{
    background-color: #FFF;
    display: flex;
    width: 31%;
    border: 1px #FFF solid;
    height: 100%;
    flex-direction: column;
    border-radius: 15px;
    padding: 0px 15px 0px 15px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.oneBackCard{
    width: 25rem;
    height: 20rem;
    background-color: #C58D68;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    margin-top: -25rem;
}
.discountButtonProduct{
    color: #FFF;
    background-color: #C58D68;
    width: fit-content;
    padding: 5px 3rem;
    border-radius: 15px;
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.discountBuyProduct{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* popular products */
.popularProducts{
    margin-top: 2rem;
}
/* prepare coffee */
.prepareCoffee{
    width: 100%;
    border: 1px #C58D68 solid;
    border-radius: 15px;
    padding: 10px;
    margin-top: 2rem;
}
.detailPrepare{
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-between;
    padding: 10px 2rem;
}
.textPrepare{
    width: 50%;
    line-height: 2;
    height: 100%;
}
.head-prepare{
    color: #FFF;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    border-radius: 15px;
}
/* why us */
.headWhyUs{
    color: #FFF;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    border-radius: 15px;
}
.imageWhyUs{
    padding: 20px 0px;
}
/* testimonials */
.cardTest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 0px 0px 15px 0px;
    border-radius: 15px;
    position: relative;
}
.backCardTest{
    width: 21rem;
    height: 20rem;
    background-color: #C58D68;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    margin-top: -13rem;
    margin-right: -2rem;
}
.detailTest{
    z-index: 1;
    position: relative;
}
.ImgTest{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ImgTest img{
    width: 60%;
}
.titleTest{
    font-size: larger;
    margin-bottom: 5px;
}
.descriptionTest{
    line-height: 1.1;
    font-size: 0.8rem;
    color: #545454;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.rate{
    color: #C58D68;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info p{
    color: #C58D68;
    margin-top: 10px;
}
/* articles */
.cardArticles{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.text-container {
    direction: rtl;
    text-align: right;
    padding: 0px 10px;
}
.ImgArticles{
    padding-bottom: 10px;
}
.titleArticles{
    padding-bottom: 10px;
}
.descriptionArticles{
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.4;
    color: #545454;
}
.btnArticles{
    padding: 10px;
    border-radius: 15px;
    background-color: #C58D68;
    color: #FFF;
    margin: 10px;
}
/* contact us */
.contact{
    width: 100%;
    background-color: #C58D68;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-radius: 15px;
    margin-top: 2rem;
}
.titleContact{
    display: flex;
    align-items: center;
    font-size: larger;
}
.btnContact{
    color: #C58D68;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #FFF;
}
/* footer */
.footer{
    background-color: #FFF;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 20px;
    padding: 0px 20px 5px 60px;
}
.foot{
    color: #545454;
    display: flex;
    align-items: center;
}
.headFooter{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.foot p{
    font-size: 1.5rem;
}
.infoFooter{
    width: 25%;
}
.descriptionFooter{
    padding: 15px 0px;
    color: #545454;
    font-size: 0.9rem;
    font-weight: 400;
}
.media{
    display: flex;
    align-items: center;
}
.media svg{
    margin: 0px 5px;
}
.grouping{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grouping p {
    color: #545454;
    font-size: medium;
    font-weight:100;
}
.groupingOne{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}
/* responsive */
@media (max-width: 1024px) {
    .menu-item{
        padding-left: 10px;
        font-size: 0.9rem;
    }
    .menu{
        flex-wrap: wrap;
    }
    .div-small{
        margin-right: 15px;
    }
    .sliderImgTwo{
        margin-top: 10px;
    }
    .divider img{
        width: 50%;
    }
    .head{
        margin: 1.5rem 0rem;
    }
    .head-title{
        font-size: 1.2rem;
    }
    .head-button{
        font-size: 1.2rem;
    }
    .category{
        margin: 1rem 0rem;
    }
    .categoryCard{
        font-size: 1.3rem;
    }
    .categoryCardOne{
        font-size: 1.3rem;
        margin:0px 20px;
    }
    .categoryCardTwo{
        font-size: 1.3rem;
        margin-left:20px;
    }
    .cardProducts{
        padding: 20px 10px 10px 10px;
    }
    .backCard{
        width: 25rem;
        height: 20rem;
        margin-top: -15rem;
        margin-right: -6rem;
    }
    .buttonProduct{
        padding: 5px 2rem;
        font-size: 1rem;
    }
    .priceOne{
        font-size: x-small;
        padding-bottom: 2px;
    }
    .priceTwo{
        color: #C58D68;
        font-weight: bold;
        font-size: small;
    }
    .titleProduct{
        font-size: medium;
        margin-top: 5px;
    }
    .cardsTool {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .discountButtonProduct{
        padding: 5px 1rem;
        font-size: 1rem;
    }
    .oneBackCard{
        margin-top: -28rem;
    }
    .prepareCoffee{
        padding: 5px;
    }
    .detailPrepare{
        padding: 5px 1rem;
    }
    .textPrepare{
        width: 50%;
        line-height: 1.2;
        height: 100%;
    }
    .imagePrepare{
        width: 100%;
    }
    .head-prepare{
        font-size: 1.2rem;
    }
    .headWhyUs{
        font-size: 1.2rem;
    }
    .imageWhyUs{
        width: 25%;
        padding: 20px 0px;
    }
    .cardTest{
        padding: 20px 10px 10px 10px;
    }
    .backCardTest{
        width: 20rem;
        margin-top: -17rem;
        margin-right: -4.5rem;
    }
    .ImgTest img{
        width: 50%;
    }
    .titleTest{
        font-size: medium;
    }
    .descriptionTest{
        font-size: 0.7rem;
    }
    .info{
        margin-top: 5px;
    }
    .info p{
        font-size: medium;
    }
    .titleArticles{
        font-size: medium;
    }
    .descriptionArticles{
        font-size: 0.7rem;
    }
    .btnArticles{
        padding: 5px;
        margin: 10px;
    }
}

@media (max-width: 768px) {
    .menu{
        margin-right: 1rem;
        flex-wrap: wrap;
    }
    .menu-item{
        padding-left: 10px;
        font-size: 0.7rem;
    }
    .icon-menu{
        width: 2.5rem;
    }
    .div-small{
        margin-right: 10px;
    }
    .sliderImgTwo{
        margin-top: 5px;
    }
    .divider img{
        width: 50%;
    }
    .head{
        margin: 1rem 0rem;
    }
    .head-title{
        font-size: 1.1rem;
    }
    .head-title img{
        width: 25%;
    }
    .head-button{
        width: 8rem;
        height: 2rem;
        font-size: 1.1rem;
    }
    .head-button svg{
        width:20%;
    }
    .category{
        margin: 1rem 0rem;
    }
    .categoryCard{
        font-size: 1rem;
    }
    .categoryCard img{
        width: 40%;
    }
    .categoryCardOne{
        font-size: 1rem;
        margin:0px 10px;
    }
    .categoryCardOne img{
        width: 40%;
    }
    .categoryCardTwo{
        font-size: 1rem;
        margin-left:10px;
    }
    .categoryCardTwo img{
        width: 40%;
    }
    .cardProducts{
        padding: 10px 5px 5px 5px;
    }
    .backCard{
        margin-top: -16rem;
        margin-right: -8rem;
    }
    .buttonProduct{
        padding: 5px 1rem;
        font-size: 0.8rem;
    }
    .priceOne{
        font-size: x-small;
        padding-bottom: 2px;
    }
    .priceTwo{
        color: #C58D68;
        font-weight: bold;
        font-size: small;
    }
    .titleProduct{
        font-size: small;
        margin-top: 5px;
    }
    .cardsTool {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .titleTool{
        font-size: 1.3rem;
        margin-top: 1rem;
    }
    .imageTool{
        width: 60%;
    }
    .backTool img{
        width: 40%;
    }
    .discountLogo img{
        width: 40%;
    }
    .discountLogo h2{
        font-size: 1.3rem;
    }
    .discountButton{
        width: 50%;
        padding: 5px 0px;
        padding-right: 5px;
        font-size: 1.2rem;
    }
    .oneBackCard{
        margin-top: -33rem;
    }
    .discountBuyProduct{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .discountButtonProduct{
        margin-bottom: 10px;
    }
    .detailPrepare{
        padding: 5px 1rem;
        flex-direction: column;
    }
    .textPrepare{
        line-height: 1.1;
        width: 100%;
        margin-bottom: 10px;
    }
    .head-prepare{
        font-size: 1.1rem;
    }
    .head-prepare img{
        width: 5%;
    }
    .headWhyUs{
        font-size: 1.1rem;
    }
    .headWhyUs img{
        width: 20%;
    }
    .cardTest{
        padding: 20px 10px 10px 10px;
    }
    .backCardTest{
        width: 17rem;
        margin-top: -18rem;
        margin-right: -4.5rem;
    }
    .titleTest{
        font-size: small;
    }
    .descriptionTest{
        font-size: 0.6rem;
    }
    .info p{
        font-size: small;
    }
    .titleArticles{
        font-size: small;
    }
    .descriptionArticles{
        font-size: 0.6rem;
        font-weight: 700;
    }
    .btnArticles{
        font-size: small;
    }
    .contact{
        padding: 30px;
    }
    .titleContact{
        font-size: medium;
    }
    .titleContact img{
        width: 8%;
    }
    .btnContact{
        padding: 10px 25px;
    }
}

@media (max-width: 426px) {
    .icon-menu{
        width: 1.5rem;
        padding: 5px;
        margin-right: 5px;
    }
    .logoImg{
        width: 30%;
    }
    .menu-item{
        font-size: 0.65rem;
        margin-bottom: 5px;
    }
    .menu{
       flex-wrap: wrap;
    }
    .div-small{
        margin-right: 5px;
    }
    .sliderImgTwo{
        margin-top:0px;
    }
    .slider{
        margin: 0.7rem  0;
    }
    .navbar{
        padding: 1rem 1rem;
        margin-top: 0.7rem;
    }
    .head-title{
        font-size: 0.8rem;
    }
    .head-title img{
        width: 20%;
    }
    .head-button{
        width: 5rem;
        height: 1.5rem;
        padding-right: 5px;
        font-size: 0.7rem;
    }
    .head-button svg{
        width:20%;
    }
    .category{
        margin: 0.5rem 0rem;
    }
    .categoryCard{
        font-size: 0.7rem;
        padding-right: 5px;
    }
    .categoryCard img{
        width: 40%;
    }
    .categoryCardOne{
        font-size: 0.7rem;
        padding-right: 5px;
    }
    .categoryCardOne img{
        width: 40%;
    }
    .categoryCardTwo{
        font-size: 0.7rem;
        padding-right: 5px;
    }
    .categoryCardTwo img{
        width: 40%;
    }
    .cardProducts{
        padding: 5px;
    }
    .backCard{
        margin-top: -14rem;
        margin-right: -7rem;
    }
    .buttonProduct{
        padding: 5px 1rem;
        font-size: 0.7rem;
        border-radius: 15px;
    }
    .priceProduct{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .priceOne{
        font-size: xx-small;
        padding-bottom: 2px;
    }
    .priceTwo{
        color: #C58D68;
        font-weight: bold;
        font-size: x-small;
    }
    .titleProduct{
        font-size: x-small;
        margin-top: 5px;
    }
    .productImg img{
        width: 80%;
    }
    .buyProduct{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .descriptionProduct{
        font-size: x-small;
        color: #545454;
        margin: 5px 0px 10px 0px ;
    }
    .cardsTool {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .titleTool{
        font-size: 1rem;
        margin-top: 1rem;
    }
    .imageTool{
        width: 50%;
    }
    .backTool img{
        width: 35%;
    }
    .discount{
        margin: 20px 0px;
    }
    .discountLogo{
        width: 60%;
    }
    .discountLogo h2{
        font-size: 1rem;
        margin-top: 0.5rem;
    }
    .discountButton{
        width: 50%;
        padding: 5px 0px;
        font-size: 0.8rem;
        padding-right: 5px;
    }
    .discountButton svg{
        width: 20%;
    }
    .oneLine{
        margin: 1rem 0rem 1rem 0px;
    }
    .oneProduct{
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        padding: 1rem;
    }
    .oneBackCard{
        width: 25rem;
        height: 20rem;
        background-color: #C58D68;
        border-radius: 50%;
        z-index: 0;
        position: absolute;
        margin-top: -33rem;
    }
    .discountButtonProduct{
        padding: 5px 0.5rem;
        font-size: 1rem;
    }
    .textPrepare{
        font-size: 0.9rem;
        margin-bottom: 10px;
    }
    .headWhyUs{
        font-size: 1rem;
    }
    .headWhyUs img{
        width: 15%;
    }
    .cardTest{
        padding: 10px;
    }
    .backCardTest{
        width: 25rem;
        margin-top: -17rem;
        margin-right: -7.5rem;
    }
    .contact{
        padding: 10px;
    }
    .titleContact{
        font-size: small;
    }
    .titleContact img{
        width: 10%;
    }
    .btnContact{
        padding: 5px;
        display: flex;
        justify-content: center;
        margin-right: 5px;
        width: 9rem;
    }
}
